.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

dt {
  margin-top: 2rem
}

nav {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.site-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jumbotron .display-4 {
  font-weight: bold;
}

#search-bar {
  width: 30%;
  margin-left: auto;
}

.fas {
  font-size: 1.5rem;
}

textarea {
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  resize: none;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 8px blue;
}

.btn-block {
  margin-top: 8px;
}

.btn-group-toggle {
  margin-bottom: 0
}

.warning-text {
  font-weight: 700;
  color: transparent;
  font-size: 0.8rem;

}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.tip-login {
  position: absolute;
  right: 4rem;
  bottom: 0;

}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

.cover-img {
  width: 100%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.dropdown-item:hover {
  background-color: #EEE;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.small {
  color: #BBB
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#productImagesGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#carouselExampleIndicators {
  width: 40rem;
  margin: 2rem 2rem

}

#productImagesGallery>img {
  width: 15rem;
  margin: 1rem auto;

}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


@media (max-width: 1172px) {

  .cover-img {
    content: url("../img/login.png")
  }

  .product-card {
    flex-wrap: wrap;
  }

}

@media (max-width: 720px) {

  nav {
    position: static;
  }

  .container {
    text-align: center;
  }

}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;

  visibility: hidden;
  opacity: 0;
}


#overlay.open {
  visibility: visible;
  opacity: 1;
}

#overlay:after {
  /* X button icon */
  content: "\2715";
  position: absolute;
  color: #fff;
  top: 10px;
  right: 20px;
  font-size: 2em;
}

#comment-section+dt {
  margin-top: 4rem;
  text-align: center;
}

#overlay+dt {
text-align: center;
font-size: 1.2rem;
}

.shadow-card,
.comments-box.container {
  box-shadow: 2px 2px 6px #EEE;
  padding: 0;
  border-radius: 1rem;
}


.new-comment,
.comment-card {
  padding: 1rem;
  border: 1px solid #EEE;
  margin: 0
}

.comment-card:hover {
  background-color: #EEE;
}

.comment-card:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.comment-card:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#productImagesGallery {
  display: flex;
  flex-direction: row;
}

#productImagesGallery>img {
  box-shadow: 4px 4px 8px #555;
}

.product-card>div>img {
  width: 40;
  float: left;
  margin-right: 2rem
}

.product-card {
  display: flex;
  flex-direction: row;
}

/* STARS RATING */

.rating {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 0;
  width: 15%
}

.rating>input {
  display: none
}

.rating>label {
  margin-left: 0;
  width: 1em;
  font-size: 25px;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}


/* END STARS RATING */

.shadow-card {
 display: flex;
 flex-direction: column;
}

.comment-card button {
  margin: 1rem 1rem 0;
  align-self: flex-end;
}

º
#cart-items {
  margin: 0 5rem;
  box-shadow: 1px 1px 10px 2px #BBB;
}

form {
  margin: 5rem 0;
}

#cart-items,
#cart-items > .list-group-item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#cart-items,
#cart-items > .list-group-item:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#buyButton {
  margin-bottom: 3rem
}

/* My-Profile inputs */

.profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-element {
  width: 40%;
  margin: 1rem  
}

div.form-element {
  color:#AAA;
  margin: 2rem
}

h4 {
  color: black
}

#profile-img {
  height: 100px
}


#products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#tipo-de-pago {
  position: absolute;
  margin: auto;
  background: red;
}